@tailwind base;
@tailwind components;
@tailwind utilities;

.tries {
  @apply flex m-auto max-w-[288px] max-h-[288px] justify-between mb-12 items-center
};

.tries__label {
  @apply text-center mb-6 font-mono uppercase text-secondary mt-[-6rem] transition-all
}

.tries__label--visible {
  opacity: 1;
  visibility: visible;
  @apply md:invisible
}

.tries__label--invisible {
  opacity: 0;
  visibility: hidden;
}

.tries__failed {
  @apply flex h-5 w-5 bg-danger rounded-md cursor-pointer
};

.tries__success {
  @apply flex h-5 w-5 bg-success rounded-md
};

.tries__current {
  @apply flex h-8 w-8 border-solid border-3 rounded-xl border-primary cursor-pointer;
};

.tries__unused {
  @apply flex h-5 w-5 bg-secondary rounded-md
}

.crafting {
  @apply flex flex-row justify-center items-center
}

.crafting__table {
  @apply flex max-w-[288px] max-h-[288px] flex-col gap-6 justify-center items-center
};

.crafting__row {
  @apply flex gap-6
};

.crafting__box {
  @apply flex justify-center items-center border-solid border-3 border-secondary w-20 h-20 rounded-xl cursor-pointer lg:hover:border-primary lg:transition-all
};

.recipe__previous {
  @apply flex h-8 w-8 bg-secondary rounded-md cursor-pointer
};

.recipe__next {
  @apply flex h-8 w-8 bg-secondary rounded-md cursor-pointer
}
